@import '../../variables';

.popover {
  display: block;
  background: $background;
  position: absolute;
}

ul {
  list-style: none;
  margin: 0;
  filter: drop-shadow(0 0 .6rem rgba(0,0,0,.1));
  left: 50%;
  transform: translateX(-50%);
  top: 5.1rem;

  li {
    margin: 0;

    a {
      border: .1rem solid $border-color;
      display: block;
      font-size: 1.2rem;
      padding: .8rem .2rem;
      position: relative;
      text-align: center;
      text-decoration: none;
      color: $font-color;

    }

    &:last-of-type a{
      border-top: none;
      border-radius: 0 0 .4rem .4rem;
    }
  }
}